.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth,
.three-fifth, .four-fifth, .one-six, .five-sixth , .four-sixth, .two-sixth{margin-right: 4%; position:relative; float:left; }
.one-half{ width:48%; }
.one-third{width:30.6666%;}
.one-fourth{width:22%; }
.one-fifth{width: 16.8%;}
.one-six {width: 13.3333%;}

.two-third{width: 65.3332%;}
.two-fourth {width: 48%;}
.two-fifth {width: 37.6%;}
.two-sixth {width: 30.6666%;}

.three-fourth{width:74%;}
.three-fifth {width: 58.4%;}
.three-sixth {width: 47.9998%;}

.four-fifth {width: 79.2%;}
.four-sixth {width: 65.3332%;}

.five-sixth {width: 82.6665%;}
.last{ margin-right:0 !important; clear:right; }

.one{
width:100%;
display:inline-block;
}

.ott-menu-container {max-width:100%;float:left}

.background-flex > .container	{
	width:1230px	
}


.list_carousel.ott-carousel-portfolio  li , .ott-carousel-product.list_carousel li{
	width:270px
}
.ott-carousel-post.list_carousel li{
	width:268px;	
}

#mainpage .onetouch_cart_buttons .button{
	text-align:left;	
}

#commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform select{
	width:270px;	
}
 #commentform textarea{
		width:500px;	 
 }
 
 #review_form_wrapper  #commentform textarea{
		width:460px;	 
 }
 

/* Large desktop */
@media (min-width: 1920px) { 
  
}
/* Medium-Large desktop */
@media only screen and (min-width: 1260px) { 
    .theme-boxed {
        width:1260px;
    }
	ul.sf-menu > li > a{padding:0px 25px ;}
#header.stuck ul.sf-menu > li > a{    padding: 0px 15px;}
}

@media (min-width: 980px) {
    #mobile-menu{
        display: none !important;
    }
	ul.sf-menu > li > a{padding:0px 20px ;}
	#header.stuck ul.sf-menu > li > a{    padding: 0px 12px;}
	


}
@media (min-width: 979px) and (max-width: 1190px) { 
    ul.sf-menu > li > a{
        margin: 0 5px;
    }
		.search-form-top input[type="text"]{
		width:150px;	
	}
	
	.flickr-channel a, .dribbble-widget a{
			width:55px;
	}	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .ott-top-bar{
        height: auto;
    }
    .theme-boxed {
        width:auto;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
		.ott-service-box{
		max-width:320px;
		margin:0 auto;	
	}

	.header-bottom, #header.stuck .stucy-menu{
		display:none !important;	
	}

	
		.show-mobile-menu-wrap {position:absolute;right:20px; top:10px; width:80px; }
	.show-mobile-menu {width:80px;}
	.ott-acc-menu-wrap a span, .header-right ul.social_wrapper	{
		display:none	
	}
	#header.stuck .show-mobile-menu-wrap {position:absolute;right:10px; top:10px;}

	#header.stuck .header-top .one-third {width: 50% !important;}
	.ott-acc-inside a i{
		margin-left:0px;	
	}
	
	.show-mobile-menu, .show-mobile-menu{
		margin-top:0px !important;	
	}
	.header-top{
		margin-bottom:15px;	
	}
	#header.stuck .header-top{
		margin-bottom:15px;	
	}

	#header .ott-logo{
		padding:10px 0px !important
	}
	
	
	body {
        margin: 0 !important;
        padding: 0 !important;
    }
	.show-mobile-menu {
        margin-top: 40px;
        background: none;
    }
    #header.stuck .show-mobile-menu{
        margin-top: 14px;
    }
    .show-mobile-menu .mobile-menu-text{
        font-size: 0;
    }
    .show-mobile-menu .mobile-menu-icon{
        margin-right: 0;
    }
    article.loop ul.loop-meta li.category{
        display:none;
    }
    .related_portfolios article.ott_portfolio{
        width: 226px;
    }
    .mobile-menu-icon span{
        background: #333;
    }
		.flickr-channel a, .dribbble-widget a{
			width:42px;
	}	
	
	
	.ott-teaser.with-button .teaser-content{
		width:100%;	
	}
	
			.teaser-btn{
		float:left;
		margin-top:15px;	
	}
	

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 500px) and (max-width: 767px) {
    article.ott_portfolio,.team-member.span3{
        width: 100%;
    }
		.header-bottom, #header.stuck .stucy-menu{
		display:none !important;	
	}
	
	#header	{
		padding:0px;
		
	}
	
	.ott-carousel-product.list_carousel li, .ott-carousel-portfolio.list_carousel li{
			width:270px ;	
		}
		
		
	header#header .container{
		padding:0;	
	}
	
	.header-top{
		margin-bottom:0px;	
	}
	
	.header-right .one{  width:auto !important; margin-right:20px; float:right}
	
	#header.stuck .header-top .one-third{
		width:50% !important	
	}
	
	.ott-team-inner {
		width:250px;
		margin:0 auto;	
	}
    .ott-portfolio .isotope-container,.ott-our-team{
        margin-left: -20px;
    }
    .ott-our-team{
        margin: 0 -10px;
    }
	.ott-partner .partner-item{
		max-width:80%;
		margin:0 auto;	
	}
	
	#page{
		width:100%;
		margin:0 auto;
		overflow:hidden;
	}
	.ott-footer-widgets, #bottom{
		
		padding-left:40px;
		padding-right:40px;
	}
	
	
	#bottom .ott-footer-menu {
		float: left;
	}
	#bottom .copyright{
		padding-left:15px;	
	}
	
		body {
        margin: 0 !important;
        padding: 0 !important;
    }
	
	
	.flickr-channel a, .dribbble-widget a{
			width:50px;
	}	

	#page-title .container{
		border-radius:0px !important;	
	}
		
	.shop_columns_3 .products .product, #mainpage .product_column_4 .products .product , .shop_columns_2 .products .product, #mainpage .product_column_5 .products .product{
		width:46%;
		padding:0px;
		margin:0px;
		margin-right:4%;
		margin-bottom:20px;
	}
	#mainpage .products .product.last, #mainpage #main .products .product.last{
		margin-right:4% !important;	
	}
		
	.bottom_contact{
	margin-bottom:20px;	
	}
	


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .theme-boxed {
        width:auto;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
	
	
		.header-bottom, #header.stuck .stucy-menu{
		display:none !important;	
	}
	.ott-acc-menu-wrap a span, .header-right ul.social_wrapper	, #top_panel{
		display:none	
	}
	
	.ott-acc-inside a i{
		margin-left:0px;	
	}
	
	.show-mobile-menu, .show-mobile-menu{
		margin-top:0px !important;	
	}
	.header-top{
		margin-bottom:0px;	
	}
	
	#header .ott-logo{
		padding:10px 0px !important;
		margin-left:20px;
	}
		#header.stuck .header-top .one-third{
		width:50% !important	
	}
	
	.show-mobile-menu-wrap {position:absolute;right:20px; top:10px; width:80px; }
	.show-mobile-menu {width:80px;}
	
	
    body,.ott-our-team{
        padding: 0;
        margin:0 !important;
    }
    .list_carousel li,.member-image img{
        width: 100%;
    }
		.ott-team-inner {
		width:250px;
		margin:0 auto;	
	}
    #main .comment-block .comment-block{
        margin-left: 0;
        padding: 0;
    }
    .ott-pricing-col{
        float:none;
        display:block;
        width:100% !important;
    }
    .callout-text {
        padding-right: 0px !important;
    }
    .mobile-menu-icon span{
        height: 5px !important;
    }
    .show-mobile-menu .mobile-menu-icon{
        margin-top: 12px;
    }
    .span9 .ott-callout.with-button .callout-text{
        padding-right: 0;
    }
    .callout-text>a.btn{
        position: relative;
        margin:0;
    }
    #main .container{
        padding: 0 30px;
    }
    .ott-breadcrumb,
    article.loop ul.loop-meta li.category,.ott-top-bar-info{
        display: none;
    }
    #header .ott-logo{
        text-align: center;
    }
    .loop-media .link-text{
        font-size: 18px;        
    }
    .loop-media .link-content{
        padding: 20px 20px;
    }
    p.form-submit, .comment-form-author, .comment-form-comment{
        float: none;
        width: 100%;
    }
    .loop-meta.tag{
        padding-right: 0;
    }
    .ott_post_sharebox{
        position: static;
        margin-top: 20px;
    }
    .list_carousel {
        margin: 0 -10px !important;
    }
    .ott-404-error{
        width: 310px;
    }
    .ott-404-search-container, .ott-coming-soon-content{
        width: auto;
        padding: 30px 0;
    }
    .error4button, .ott-cs-container input[type="submit"]{
        margin-top: 10px;
    }
    #header .ott-logo{
        width: 100%;
        padding: 0;
		margin-bottom:15px;
    }
    .loop-image .image-overlay,.loop-image:hover .image-overlay, .slide-item:hover .image-overlay{
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
		.ott-partner .partner-item{
		max-width:80%;
		margin:0 auto;	
	}
		#page{
		width:100%;
		margin:0 auto;
		overflow:hidden;
	}
		#bottom .ott-footer-menu {
		float: left;
	}
	.ott-footer-menu ul li:first-child,
	.ott-footer-menu ul li:first-child a
	{
		padding-left:0px !important;	
		margin-left:0px !important;
	}
		body {
        margin: 0 !important;
        padding: 0 !important;
    }
	
		.teaser-btn{
		float:left;
		margin-top:15px;	
	}
	.flickr-channel a, .dribbble-widget a{
			width:50px;
	}
		#page-title .container{
		border-radius:0px !important;	
	}	
	
	.testimonial-list-item {
		width:80%;
		margin:0 auto
	}
	
	.partner-item{
		text-align:center;	
	}
	
	.partner-item img{
		margin:0 auto;	
	}
	
	.contact-med .contact-left{
			float: none;
		display:inline-block;
		width: 100%;
		text-align:center;
		border:0px;
	}
	.contact-left-inner{
		padding:0px;
	}
	.contact-right {
		float: none;
		display:inline-block;
		width: 100%;
		text-align:center;
		margin-top:10px;
	}
	.contact-right-inner{
		float:left;	
	}
	

	#slider-home.background-flex .flexslider, .background-flex {
    height: 258px;
}
.flex-slider-caption-wrap{
	bottom:auto;
	top:80px;	
}
	
	.flex-slider-caption h2, .camera_caption h3{
		font-size:28px !important;
		line-height:35px !important	
	}
	
	.callout-text > a.btn{
		right:auto;
		left:0px;	
		margin-top:15px;
	}
	.shop_columns_3 .products .product, #mainpage .product_column_4 .products .product, .shop_columns_2 .products .product, #mainpage .product_column_5 .products .product{
		width:29%;	
	}
	#mainpage .onetouch_cart_buttons .button{
		width:100%;
		text-align:left;	
	}
	
	.ott-portfolio .item-inner{
		width:320px;
		margin:0 auto;	
	}
	
	.contact-right-inner{
		padding:0px;
		display:inline-block	
	}
	.ott-filter ul li{
		height:40px;
		margin-bottom:5px;	
	}
			
	
			.show-mobile-menu {background:none;}
		.show-mobile-menu .mobile-menu-icon span{background:#E12E36}
		#header.stuck .show-mobile-menu-wrap {position:absolute;right:10px; top:0px;}
	
		#bottom, .ott-footer-widgets{
		    padding-left: 40px;
    padding-right: 40px;
	width:auto;
	position:relative;
	}
}

/* Landscape phones and down */
@media (min-width: 319px) and (max-width: 480px) {
    .theme-boxed {
        width:auto;
    }
		#page-title .container{
		border-radius:0px !important;	
	}
	
	.ott-footer-widgets{
		padding:65px 30px 30px;	
	}
	.teaser-btn{
		float:left;
		margin-top:15px;
			
	}
	.callout-text > a.btn{
		left:0px;	
		top:auto;
		bottom:0px;
	}
	.shop_columns_3 .products .product{
		width:100% !important;	
	}

	.ott-teaser.with-button .teaser-content{
		width:100%;
		margin-bottom:20px;	
	}
	
	.ott-filter ul li{
		margin-bottom:-5px	
	}
	
	.contact-right-inner{
		float:left;
		margin-top:20px;	
	}
	.contact-left span{
		margin-left:0px	
	}
    article.loop ul.loop-meta li, .ott-coming-soon>.sep {
        display: none;
    }
    article.loop ul.loop-meta {
        border-color: transparent;
    }
    .ott-carousel-ottitter .carousel-arrow .carousel-prev{
        left:5px;
    }
    .ott-carousel-ottitter .carousel-arrow .carousel-next{
        right:5px;
    }
    .page-template-template-coming_soon-php #main {
        padding: 50px 0;
    }
    .ott-coming-soon .days, .ott-coming-soon .hours, .ott-coming-soon .minutes, .ott-coming-soon .seconds {
        margin: 0 5px 5px 0;
    }
		.ott-partner .partner-item{
		max-width:80%;
		margin:0 auto;	
	}
	.bottom_contact{
	margin-bottom:20px;	
	}
		.ott-team-inner {
		width:250px;
		margin:0 auto;	
	}
		#page{
		width:100%;
		margin:0 auto;
		overflow:hidden;
	}
		#bottom .ott-footer-menu {
		float: left;
	}
	#bottom .copyright{
		padding-left:15px;	
	}
	.ott_divider_icon{
		width:100%;
		overflow:hidden;	
	}
	
	
.contact-right , .contact-left{
    float: left;
    width: 100%;
	display:block;
}
.nav-tabs{
    float: none;
    width: 100%;

	display:block;
}
.progress_bar .progress_title{
	white-space:nowrap	
}
.ott_divider_icon span:after{
	width:60px;
	right:-60px	
}
.ott_divider_icon span:before{
	width:60px;
	left:-60px	
}
	
	.ott-service-box{
		width:280px;
		margin:0 auto;	
	}
	.shop_columns_3 .products .product, #mainpage .product_column_4 .products .product , .shop_columns_2 .products .product, #mainpage .product_column_5 .products .product{
			width:100%;
			padding:0px;
			margin:0px;
			margin-bottom:20px;
		}
		#mainpage .onetouch_cart_buttons .button:last-child{
			margin-top:10px;
			margin-left:5px;
			text-align:left;	
		}
		.ott-partner .item-inner{
			width:280px;
			margin:0 auto;	
		}
		
		#main [class*="ott-element"] { margin-top: 15px;    margin-bottom: 15px; }
		#mainpage .onetouch_cart_buttons .button:last-child{float:left; width:90%;}
		.ott-carousel-product.list_carousel li, .ott-carousel-portfolio.list_carousel li{
			width:270px ;	
		}
		#bottom .copyright{
			padding-left:0px;
		}
		
		
				.one-half, .one-third, .two-third, .one-fourth , .leftContent, .three-fourth,.one-fifth, .four-fifth ,#sidebar,
		.two-fifth, .three-fifth , .one-six,  .five-sixth, .portfolio-single, .rightContent, .four-sixth, .two-sixth{ 
			
			position:relative;
			display: block;
			width:100%;
			float:none;
		}
		.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth,
		.three-fifth, .four-fifth, .one-six, .five-sixth , .four-sixth, .two-sixth{width:100% ; margin-bottom:0px;float:none;}
		.one{
		width:100%;
		margin:0 auto;float:none;
		}
		
		.header-top .container{width:100%;;margin:0 auto;}
		#header .ott-logo{padding:10px 0px !important; margin:0px;}
		
		.header-top .two-third{ position:absolute;top:0px;}
		
		#header.stuck .one-third {padding:0px;}
		#header.stuck  .show-mobile-menu {position:relative; top:auto;right:auto }
		
		.show-mobile-menu .mobile-menu-icon span {width:30px;}
		.show-mobile-menu{float:right}
		.show-mobile-menu .mobile-menu-icon span{background:#E12E36}
		.show-mobile-menu-wrap {position:relative;top:auto; right:auto; left; alignment-adjust:}
		.header-right{text-align:center;}
		.header-right .one{ display:inline-block; width:auto !important	}
		#header.stuck .header-top .one-third {width:60% !important; margin-left:5%}
		#header.stuck  .header-top .container{ float:left}
		.header-top .container {float:none}
		#header.stuck   .show-mobile-menu-wrap {width:80px !important; top:20px; }
		#header.stuck   .header-top {margin-bottom:15px;} 
		.flex-slider-caption h2, .camera_caption h3{font-size:25px !important;}
		.camera_caption p{font-size:12px !important;}

}

